<h1 mat-dialog-title>Create {{data.name}}</h1>
<div mat-dialog-content>
    <p>This is when you add a Teams that are related to a department, etc</p>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput name="name" [(ngModel)]="data.name"/>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeModelOnClick()">Cancel</button>
    <button mat-button type="submit" (click)="getInputData()" [mat-dialog-close]="data.name">Ok</button>
</div>
 