@import '../../../../styles.scss';

mat-tree{
    background-color: $main-primary-color;
}
mat-list h3{
    margin-right: 0.8em;
}
mat-tree p{
    color: $main-tertiary-color;
    margin: 0;
    font-size: 1rem;
}

.mat-icon-add{
    position: absolute;
    right: 0;
    color: $main-seconday-color;
}
.mat-icon-rtl-mirror{
    color: $main-tertiary-color;
}
.mat-edit-icon mat-icon{
    font-size: 17px;
}
.mat-delete-icon mat-icon{
    font-size: 17px;
}
.mat-edit-icon{
    position: absolute;
    right: 28px;
    color: $main-seconday-color;
}

.mat-delete-icon{
    position: absolute;
    right: 50px;
    color: $main-seconday-color;
}