<section>
    <section>
        <mat-list role="list">
            <mat-list-item *ngFor="let department of listOfDepartment">
                <button type="button" (click)="expandItems()" class="right-arrow" mat-icon-button aria-label="Example icon button with a home icon">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
                <h3>{{department}}</h3>
                <p>{{numberOfTeamsDepartment}}</p>
                <button class="none-default" [matMenuTriggerFor]="menu" mat-icon-button aria-label="Example icon button with a home icon">
                    <mat-icon>more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button (click)="addDetailsOfDepartment()" mat-menu-item>Add {{department}}</button>
                    </mat-menu>
                </button>
            </mat-list-item> 
        </mat-list>
    </section>
</section>
  