@import '../../../../styles.scss';

.configurations{
    padding: 0.4em 1em;
    .department-title{
        color: $main-tertiary-color-dark;
        font-size: 1.1rem;
        border-bottom: 1px solid lightgrey;
        width: 100%;
    }
    .department-number{
        color: $main-seconday-color;
        float: right;
    }
    button {
        color: $main-tertiary-color;
        .add-icon{
            color: $main-seconday-color;
        }
    }
    .department-name{
        display: flex;
        align-items: center;
        margin: 0 2em;
        color: $main-tertiary-color;
        p{
            margin: 0;
            font-size: 0.9rem;
            color: rgb(240, 240, 240);
            width: 100%;
            font-weight: 500;
        }
        .business-icon{
            color: $main-seconday-color;
            margin-right: 0.6em;
            font-size: 1rem;
        }
        button .more_vert-icon{
            font-size: 1.2rem;
        }
        .menu{
            button .delete-icon{
                color: $main-seconday-color;
            }
        }
    }
}