/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$main-primary-color: #003366;
$main-seconday-color: #FFD54F;
$main-tertiary-color: #fff;
$main-tertiary-color-dark: rgba(255, 255, 255, 0.548);